<h4>Post Detail Page</h4>
<h3><%= @post.title %></h3>
<a href="<%= edit_post_url(@post) %>">Edit Post ></a>

<br><br>

<h4>Content</h4>
<p><%= @post.content %></p>

<h4>Related Subs</h4>

<h4>Comments</h4>

<a href="<%= new_post_comment_url(@post) %>" class="ui button">
  Comment on this post!
</a>
